
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481613406766'); /* IE9*/
  src: url('iconfont.eot?t=1481613406766#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481613406766') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481613406766') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481613406766#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before { content: "\e60b"; }

.icon-daiban:before { content: "\e601"; }

.icon-rili:before { content: "\e667"; }

.icon-xiaolaba:before { content: "\ec6b"; }

.icon-ribaojindu:before { content: "\e61a"; }

.icon-youjian:before { content: "\e719"; }

.icon-tongxunlu:before { content: "\e687"; }

.icon-paizhao:before { content: "\e614"; }

.icon-richeng:before { content: "\e668"; }

.icon-huiyi-copy:before { content: "\e6ad"; }

.icon-cf-c90:before { content: "\e66f"; }

.icon-kehu:before { content: "\e713"; }

.icon-renwu:before { content: "\e643"; }

.icon-xiaoshou:before { content: "\e679"; }

.icon-wenjian-copy:before { content: "\e600"; }

.icon-shenqingliuchengicon:before { content: "\e602"; }

.icon-waichu:before { content: "\e611"; }

.icon-knowledge:before { content: "\e654"; }

.icon-biaoqingqingA:before { content: "\e714"; }

